
/* RESET */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: cornflowerblue;
}

main {
    margin: 16px 16px;
}

main > * {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* HEADER */

.logo {
    width: 200px;
}

.page-header {
    background-color: rgb(151, 198, 230);
    padding: 30px;
}

/* MAIN */

.author {
    color: grey;
}

.img {
    font-size: x-small;
}

.booleaner {
    color:rgb(29, 127, 240);
}

ul{
    padding-left: 10px;
}

.title_tab {
    padding: 0px;
    background-color: rgb(64, 118, 199);
    color: white;
}

.grey_bg {
    background-color: rgb(209, 227, 247);
}

table {
    width: 100%;
}

.title_tab {
    text-align: left;
}

.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

/* FOOTER */

.page-footer {
    background-color: #313A6B;
    color:white;
    font-size: 12px;
    text-align: center;
    padding: 16px;
}